<strong>Olá, {{ deliveryman }}!</strong>
<p>A entrega de id: {{deliveryId}} precisou ser cancelada</p>

<p>Descrição do problema reportado: <br /><strong>{{ description }}</strong></p>

<p>
  Estamos a disposição para esclarecer suas dúvidas
</p>
